<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scara_cpe">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import scara_cpe urdf file -->
    <xacro:include filename="$(find scara_cpe_description)/urdf/scara_cpe.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="scara_cpe.ros2_control.xacro" />


    <xacro:scara_cpe_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
